/* PROJECTS */

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid; */
    min-height: 600px;
    /* max-width: 90%; */
}

.accordian {
    /* border: 1px solid; */
    width: 350px;
    margin: 0 auto;
}
.acc-title {
    padding: 5px 5px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    background-color: #3535356f;
}

.pro-description {
    opacity: .95;
}

.tech-logos {
    display: flex;
    height: 30px;
}

.project-space {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 75%;
    width: 400px;
}
/* SUDOKU */
.sudoku {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
    width: 350px;
    align-items: center;
    padding: 10px 0;
    height: 100%;
    margin: 0 auto;
    max-width: 90%;
}

.sudoku-grid {
    width: 35px;
    height: 35px;
}
