.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid; */
    min-height: 600px;
}

.accordian {
    /* border: 1px solid; */
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
}
.acc-title {
    padding: 5px 5px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    background-color: #3535356f;
}

.pro-description {
    opacity: .95;
}

.tech-logos {
    display: flex;
    height: 30px;
}

.project-space {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 75%;
    width: 400px;
}
