/* General styling for Wordle */
.wordle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.game-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid; */
    margin-bottom: 10px;
    width: 90%;
}

.wordle-btn {
    padding: 5px 10px;
    width: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.guess-area {
    height: 300px;
}


.guess-letter {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 5px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
        /* border: 1px solid; */
}

.green {
    background-color: rgb(22, 163, 74);
    color: white
}

.orange {
    background-color: rgb(255, 179, 0);
    color: white
}

.gray {
    background-color: rgb(123, 123, 123);
    opacity: .5;
}

.guess-input {
    padding: 6px;
    width: 75%;
    border-radius: 5px;
    background: none;
    border: 1px solid;
    
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.submit-btn {
    margin-left: auto;
    padding: 10px 15px;
}

.keyboard {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
}

.key {
    padding: 4px 6px;
    background-color: #999999;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.key:hover {
    background-color: #616161;
}

.key.green {
    background-color: rgb(22, 163, 74);
}

.key.orange {
    background-color: rgb(255, 162, 0);
}

.key.disabled {
    visibility: hidden;
}

.game-modal {
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.game-modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.modal-content {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 80%;
    backdrop-filter: blur(10px);
    background-color: rgba(150, 150, 150, 0.7);
    z-index: 10;
}